$font-size-middle: 12px;
$font-size-large: 16px;
$font-size-small: 8px;

$color-grey: #646464;
$color-light-grey: #dddddd;

$color-primary: #5bedea;
$color-primary-light: #8ceceb;
$color-primary-dark: #1ba3a1;

$color-success: #81ffb5;
$color-success-light: #e0fffd;
$color-success-dark: #4a6944;

$text-color-default: #0f0f0f;
$text-color-secondary: #303030;

$text-color-default-dark: #f8f8f8;
